<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>COVID-19 vaccination doses administered in Germany</title>
<meta content="width=device-width,initial-scale=1" name=viewport>
<style>
  html {
    font: 1rem/1.6 sans-serif;
  }
  .meta {
    font-style: italic;
  }
  .chart {
    width: 100%;
    height: 250px;
  }
  .chart-container .legend-dataset-text,
  .chart-container .axis {
    fill: #000 !important;
  }
  .graph-svg-tip.comparison {
    max-width: 100%;
  }
</style>
<link rel="icon" href="favicon.svg">
<h1>COVID-19 vaccination doses administered in Germany as of <time datetime="<%= latestPubDate %>"><%= latestPubDate %></time></h1>
<p>Across all of Germany, <%= percentFirstDose() %>% of inhabitants received their first vaccination dose, and <%= percentSecondDose() %>% received their second dose. A total of <%= currentDoses() %> doses have been administered so far. The current vaccination rate (7-day average) is <%= sevenDayAverageDoses() %> doses per day.</p>
<div id="chart-cumulative-germany" class="chart"></div>
<h2 id="percent">COVID-19 vaccination doses administered per 100 inhabitants in each German state</h2>
<div id="chart-percent" class="chart"></div>
<% for (const state of states) { %>
<h2 id="<% print(state.toLowerCase()) %>">Cumulative COVID-19 vaccination doses administered in <span translate="no"><%= state %></span></h2>
<p>In <span translate="no"><%= state %></span>, <%= percentFirstDose(state) %>% of inhabitants received their first vaccination dose, and <%= percentSecondDose(state) %>% received their second dose. A total of <%= currentDoses(state) %> doses have been administered so far. The current vaccination rate (7-day average) is <%= sevenDayAverageDoses(state) %> doses per day.</p>
<div id="chart-cumulative-<% print(state.toLowerCase()) %>" class="chart"></div>
<% if ('Bayern' === state) { %>
<p><strong>Note:</strong> The drop on <time>2021-01-26</time> is not an error in our chart — <a href="https://github.com/mathiasbynens/covid-19-vaccinations-germany/issues/6">it matches the data reported by the RKI</a>, which overreported the numbers for <time>2021-01-25</time>.</p>
<% } %>
<% } %>
<p><a href="https://github.com/mathiasbynens/covid-19-vaccinations-germany/blob/main/data/data.csv">View the raw data (CSV)</a> or <a href="https://bit.ly/c19-de">explore it in Google Data Studio</a>.</p>
<script type="module">
  import { Chart } from 'https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.esm.js';

  const formatter = new Intl.NumberFormat('en');

  new Chart('#chart-percent', {
    data: <%= generatePercentData() %>,
    type: 'line',
    // https://xdgov.github.io/data-design-standards/components/colors#palette:~:text=Blue%20Palette
    colors: [
      '#081627',
      '#112E51',
      '#205493',
      '#2E78D2',
      '#6DA1E0',
      '#97BCE9',
      '#C1D7F2',
    ],
    tooltipOptions: {
      formatTooltipY: number => `${formatter.format(number)} doses`,
    },
    axisOptions: {
      xIsSeries: true,
    },
    isNavigable: true,
    animate: false,
    truncateLegends: true,
  });

  new Chart('#chart-cumulative-germany', {
    data: <%= nationalData %>,
    type: 'line',
    colors: [
      '#28A745',
      '#FFA00A',
      '#2E78D2',
    ],
    tooltipOptions: {
      formatTooltipY: number => `${formatter.format(number)} doses`,
    },
    axisOptions: {
      xIsSeries: true,
    },
    isNavigable: true,
    animate: false,
    truncateLegends: true,
    height: 250,
  });

  <% for (const state of states) { %>
    new Chart('#chart-cumulative-<% print(state.toLowerCase()) %>', {
      data: <%= generateStateData(state) %>,
      type: 'line',
      colors: [
        '#28A745',
        '#FFA00A',
        '#2E78D2',
      ],
      tooltipOptions: {
        formatTooltipY: number => `${formatter.format(number)} doses`,
      },
      axisOptions: {
        xIsSeries: true,
      },
      isNavigable: true,
      animate: false,
      height: 250,
    });
  <% } %>
</script>
