<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>COVID-19 vaccination doses administered in Germany</title>
<meta content="width=device-width,initial-scale=1" name=viewport>
<style>
  html {
    font: 1rem/1.6 sans-serif;
  }
  .meta {
    font-style: italic;
  }
  .has-tooltip {
    border-bottom: 1px dotted #000;
    cursor: help;
  }
  .chart {
    width: 100%;
    height: 400px;
  }
  .chart-container .legend-dataset-text,
  .chart-container .axis {
    fill: #000 !important;
  }
  .graph-svg-tip.comparison {
    max-width: 100%;
  }
</style>
<link rel="icon" href="favicon.svg">
<h1>COVID-19 vaccination doses administered in Germany as of <time datetime="<%= latestPubDate %>"><%= latestPubDate %></time></h1>
<p>
  Across all of Germany, <%= percentFullyVaccinated() %>% of inhabitants are <span class="has-tooltip" title="They received either 1 dose of Johnson &amp; Johnson; or 2 doses of Pfizer/BioNTech, Moderna, or AstraZeneca.">fully vaccinated</span>.
  <%= percentOnlyPartiallyVaccinated() %>% are <span class="has-tooltip" title="They received exactly 1 dose of Pfizer/BioNTech, Moderna, AstraZeneca, and still need a second dose to become fully vaccinated.">partially vaccinated but still need a second shot</span>.
  <%= percentAtLeastPartiallyVaccinated() %>% <span class="has-tooltip" title="They received at least 1 dose of Pfizer/BioNTech, Moderna, AstraZeneca, or Johnson &amp; Johnson. This includes people who received 2 doses of Pfizer/BioNTech, Moderna, or AstraZeneca.">received at least one vaccination</span>.
  A total of <%= currentDoses() %> doses have been administered so far — that’s <%= currentDosesPerTotalDosesDelivered() %>% of the <%= totalDosesDelivered() %> total doses that have been delivered to Germany <span class="has-tooltip" title="<%= latestDeliveryDate %> is the date of the latest delivery.">as of <%= latestDeliveryDate %></span>.
  The current vaccination rate (7-day average) is <%= sevenDayAverageDoses() %> doses per day.
</p>
<div id="chart-cumulative-germany" class="chart"></div>
<h2 id="percent">COVID-19 vaccination doses administered per 100 inhabitants in each German state</h2>
<div id="chart-percent" class="chart"></div>
<p><strong>Note:</strong> This does not equal the percentage of inhabitants that received a dose, since some vaccines require two doses.</p>
<h2 id="rollout">COVID-19 vaccination rollout competence: doses administered per 100 doses delivered to each German state</h2>
<p><a href="https://twitter.com/jfkirkegaard/status/1352027138929680390">Context</a>.</p>
<div id="chart-rollout" class="chart"></div>
<% if (isDeliveryDataDefinitelyOutdated) { %>
<p><strong>Note:</strong> Based on the latest available data, at least one state has administered more than the available amount of doses, which is impossible. This usually means the delivery data is outdated (i.e. the vaccination data is more up-to-date than the delivery data). As soon as up-to-date delivery data becomes available, this page automatically gets updated.</p>
<% } %>
<% for (const state of states) { %>
<h2 id="<% print(state.toLowerCase()) %>">Cumulative COVID-19 vaccination doses administered in <span translate="no"><%= state %></span></h2>
<p>
  In <span translate="no"><%= state %></span>, <%= percentFullyVaccinated(state) %>% of inhabitants are <span class="has-tooltip" title="They received either 1 dose of Johnson &amp; Johnson; or 2 doses of Pfizer/BioNTech, Moderna, or AstraZeneca.">fully vaccinated</span>.
  <%= percentOnlyPartiallyVaccinated(state) %>% are <span class="has-tooltip" title="They received exactly 1 dose of Pfizer/BioNTech, Moderna, AstraZeneca, and still need a second dose to become fully vaccinated.">partially vaccinated but still need a second shot</span>.
  Overall, <%= percentAtLeastPartiallyVaccinated(state) %>% <span class="has-tooltip" title="They received at least 1 dose of Pfizer/BioNTech, Moderna, AstraZeneca, or Johnson &amp; Johnson. This includes people who received 2 doses of Pfizer/BioNTech, Moderna, or AstraZeneca.">received at least one vaccination</span>.
  A total of <%= currentDoses(state) %> doses have been administered so far — that’s <%= currentDosesPerTotalDosesDelivered(state) %>% of the <%= totalDosesDelivered(state) %> total doses that have been delivered to <span translate="no"><%= state %></span>.
  The current vaccination rate (7-day average) is <%= sevenDayAverageDoses(state) %> doses per day.
</p>
<div id="chart-cumulative-<% print(state.toLowerCase()) %>" class="chart"></div>
<% print(dataAnomalyWarning(state)); %>
<% } %>
<p>Made by <a href="https://twitter.com/mathias" rel="nofollow">@mathias</a>. <a href="https://github.com/mathiasbynens/covid-19-vaccinations-germany/blob/main/data/data.csv">View the raw data (CSV)</a>.</p>
<script type="module">
  import { Chart } from 'https://cdn.jsdelivr.net/npm/frappe-charts@1.5.7/dist/frappe-charts.min.esm.js';

  const formatter = new Intl.NumberFormat('en');

  new Chart('#chart-cumulative-germany', {
    data: <%= nationalData %>,
    type: 'axis-mixed',
    barOptions: {
      spaceRatio: 0.0001,
    },
    colors: [
      '#E6EFFA',
      '#28A745',
      '#FFA00A',
      '#2E78D2',
    ],
    tooltipOptions: {
      formatTooltipY: number => `${formatter.format(number)} doses`,
    },
    axisOptions: {
      xIsSeries: true,
    },
    isNavigable: true,
    animate: false,
    truncateLegends: true,
    height: 400,
  });

  new Chart('#chart-percent', {
    data: <%= generatePercentData() %>,
    type: 'line',
    // https://xdgov.github.io/data-design-standards/components/colors#palette:~:text=Blue%20Palette
    colors: [
      '#081627',
      '#112E51',
      '#205493',
      '#2E78D2',
      '#6DA1E0',
      '#97BCE9',
      '#C1D7F2',
    ],
    tooltipOptions: {
      formatTooltipY: number => `${formatter.format(number)} doses`,
    },
    axisOptions: {
      xIsSeries: true,
    },
    isNavigable: true,
    animate: false,
    truncateLegends: true,
    height: 400,
  });

  new Chart('#chart-rollout', {
    data: <%= rolloutData %>,
    type: 'line',
    // https://xdgov.github.io/data-design-standards/components/colors#palette:~:text=Blue%20Palette
    colors: [
      '#081627',
      '#112E51',
      '#205493',
      '#2E78D2',
      '#6DA1E0',
      '#97BCE9',
      '#C1D7F2',
    ],
    tooltipOptions: {
      formatTooltipY: number => `${formatter.format(number)}%`,
    },
    axisOptions: {
      xIsSeries: true,
    },
    isNavigable: true,
    animate: false,
    truncateLegends: true,
    height: 400,
  });

  <% for (const state of states) { %>
    new Chart('#chart-cumulative-<% print(state.toLowerCase()) %>', {
      data: <%= generateStateData(state) %>,
      type: 'axis-mixed',
      barOptions: {
        spaceRatio: 0.0001,
      },
      colors: [
        '#E6EFFA',
        '#28A745',
        '#FFA00A',
        '#2E78D2',
      ],
      tooltipOptions: {
        formatTooltipY: number => `${formatter.format(number)} doses`,
      },
      axisOptions: {
        xIsSeries: true,
      },
      isNavigable: true,
      animate: false,
      height: 400,
    });
  <% } %>

  // Work around https://github.com/frappe/charts/issues/322.
  const fixLabels = () => {
    const compactFormatter = new Intl.NumberFormat('en', {
      notation: 'compact',
    });
    const labels = document.querySelectorAll('text[x="-10"]');
    for (const label of labels) {
      const number = Number(label.textContent);
      label.textContent = compactFormatter.format(number);
    }
  };

  // TODO: Use a mutation observer instead, if we can find a reliably
  // detectable DOM modification that signals the charts are fully
  // rendered.
  setTimeout(() => {
    fixLabels();
  }, 1000);
</script>
